.heading {
    position: relative;
    height: 20vw;
    width: 100%;
    background:rgb(172, 176, 153);
    color:black; /*Makes the contents of the division black*/
}
.textheading {
    position: absolute;/*So can shift the contents in the division*/
    left: 27.5%;
    top: 35%;
    font-weight: bolder;
    font-size: 60px;
}
.container {
    position: relative;
    height:100vw;
    width: 100%;
    background-color: yellow;
}
.card {
    position: absolute;
    height: 25vw;
    width: 20vw;
    background-color: red;
}
#card1 {
    left: 29%;
}

#card2 {
    left: 53%;
}
#card3 {
    top: 30vw;
    left: 29%;
}
#card4 {
    top: 30vw;
    left: 53%;
}

#card5 {
    top: 60vw;
    left: 29%;
}

#card6 {
    top: 60vw;
    left: 53%;
}