.heading {
    position: relative;
    padding: 8%;
    text-align: center;
    background:rgb(172, 176, 153);
    color:black; /*Makes the contents of the division black*/
}
.textheading {
    position: relative;
    top: 35%;
    font-weight: bolder;
    font-size: 5vw;
}
.container {
    position: relative;
    height:90vw;
    width: 100%;
}
.card {
    position: absolute;
    border: 2px solid black;
    border-radius: 20px;
    height: 25vw;
    width: 20vw;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s; 
}
.card:hover{
    box-shadow: 0 8px 16px rgba(0,0,0,0.8);
}


#card1 {
    left: 29%;
}

#card2 {
    left: 53%;
}
#card3 {
    top: 30vw;
    left: 29%;
}
#card4 {
    top: 30vw;
    left: 53%;
}

#card5 {
    top: 60vw;
    left: 29%;
}

#card6 {
    top: 60vw;
    left: 53%;
}